{% extends 'base.html' %}

{% block content %}

<section class="container" style="margin-top: 100px;">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Producto</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Precio USD</th>
        <th scope="col">Precio COP</th>
        <th scope="col">Precio Bs</th>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
      <tr class="table-light">
        <th scope="row">{{ product.product_name }}</th>
        <td>{{ product.product_description }}</td>
        <td>{{ product.product_price_usd }}</td>
        <td>{{ precios_cop }}</td>
        <td>{{ precios_bs }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table> 
</section>

{% endblock %}